@charset "utf-8";
body{
	max-width:640px;
	margin:0 auto;
}
header{
	height:50px;
	background-color: #06c1ae;
	position: relative;
	display: -webkit-box;
}
#cityBtn{
	width: 60px;
    height: 100%;
	line-height:50px;
	text-align:center;
	color:white;
	top: 0;
    left: 0;
	font-size:14px;
	/* background: url(../img/index/location.png) no-repeat;
	position: absolute;
	width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 19px 20px;
    background-position: 16px 15px; */
}
#cityBtn:after {
    content: "";
    display: inline-block;
    margin-left: 6px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-width: 0 1px 1px 0;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    -webkit-transform: rotate(45deg);
    margin-top: 18px;
    vertical-align: top;
}
#locaitonBtn{
	background: url(../img/index/location.png) no-repeat;
	position: absolute;
	width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 19px 20px;
    background-position: 16px 15px;
}
#qrcodeBtn{
	background: url(../img/index/qrcode.png) no-repeat;
	position: absolute;
	width: 50px;
    height: 100%;
    top: 0;
    right: 0;
    background-size: 19px 20px;
    background-position: 16px 15px;
}
#searchBox{
	margin:0 50px;
	background: rgba(17,88,81,.11);
	border-radius: 30px;
	height:30px;
	-webkit-box-sizing: border-box;
  	-webkit-box-flex: 1;
  	margin-top:10px;
}
#searchBox a{
	display: block;
  	color: #115851;
  	height: 100%;
}
#searchBox .icon-search{
	margin-left:25px;
	float:left;
	background: url(../img/index/search.png) no-repeat;
	width:14px;
	height:14px;
	margin-top:8px;
	background-size:100%;
}
#searchBox span{
	float:left;
	font-size:14px;
	line-height:30px;
	margin-left:5px;
	color:white;
	opacity: .3;
}
.hasManyCity #searchBox .icon-search{
	margin-left:15px;
}
.hasManyCity #locaitonBtn{
	left:auto;
	right:40px;
	width:40px;
}
.hasManyCity #qrcodeBtn{
	width:40px;
}
.hasManyCity #searchBox{
	margin-right:80px;
	margin-left:10px;
}

.swiper-container,.swiper-wrapper,.swiper-slide{
  width: 100%;
  height: 100%;
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-slide{
	  float: left;
}
.swiper-pagination {
  position: absolute;
  z-index: 20;
  left: 0px;
  width: 100%;
  text-align: center;
  bottom:4px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background: black;
  margin-right:5px;
  opacity: 0.14;
  cursor: pointer;
}
.swiper-active-switch {
  background: #06c1ae;
  opacity: 1;
}

.banner{
	height: 119px;;
}
.banner img{
	height:100%;
	width:100%;
}
.slider{
	background-color: white;
	border-bottom: 1px solid #edebeb;
	margin-bottom: 10px;
}

.icon-list .icon {
  float: left;
  width: 25%;
  text-align: center;
}
.icon-list.num10 .icon {
  float: left;
  width: 20%;
  text-align: center;
}
.icon-list .icon > a {
  padding-top: 12px;
  display: block;
}
.icon-list .icon-circle {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  margin-bottom: 3px;
}
.icon-list.num10 .icon-circle {
	width:36px;
	height:36px;
}
.icon-list .icon-circle img {
  width: 100%;
  height: 100%;
}
.icon-list .icon-desc {
  text-align: center;
  color: #999;
}
.icon-list.num10 .icon-desc {
	font-size:12px;
}
.slider .swiper-pagination{
	bottom:2px;
}
.slider .swiper-pagination-switch{
	background-color: white;
	border:1px solid #d8d8d8;
	width:5px;
	height:5px;
	margin-right: 5px;
	opacity: 1;
}
.slider .swiper-active-switch{
	background: #06c1ae;
	border:1px solid #06c1ae;
}

.invote{
	background-color: white;
	border-bottom:1px solid #edebeb;
	margin-bottom: 10px;
	min-height:50px;
	border-top:1px solid #edebeb;
}
.invote a{
	color: #666;
    display: block;
    padding: 10px;
}
.invote img{
	width: 32px;
	height: 32px;
    margin-right: 6px;
    vertical-align: middle;
}
.invote button{
	float: right;
    height: 32px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 0 6px;
	font-size:12px;
}


.activity{
	height:124px;
	background-color: white;
	border-top: 1px solid #edebeb;
	border-bottom: 1px solid #edebeb;
	margin-bottom: 10px;
	overflow: hidden;
}
.activity .activityBox{
	padding:6px 0;
}
.activity .activityBox .swiper-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
    height:110px;
}
.activity .activityBox .swiper-slide{
	  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-right: 1px solid #f1f1f1;
  float:none;
}
.activity .activityBox .swiper-slide a{
	display: block;
	margin: 0 6px;
	background-color: #F5F5F5;
	height: 100%;
 	width: 100%;
  	position: relative;
  	border-radius: 6px;
  	padding-left:125px;
  	padding-right: 6px;
}
.activity .activityBox .swiper-slide:last-child{
	border-right: none;
}
.activity .activityBox .swiper-slide a label{
	position: absolute;
	z-index: 1;
	left:16px;
	top:5px;
	width:34px;
	height:42px;
	background: url(../img/index/activity_label_02.png) no-repeat;
	background-size: 100%;
	color:white;
	text-align: center;
	line-height: 1.5;
	font-size: 12px;
}
.activity .activityBox .swiper-slide a label span{
	display:block;
}
.activity .activityBox .swiper-slide a .icon{
	width:109px;
	height:96px;
	margin: 6px;
	position: absolute;
	left:0px;
}
.activity .activityBox .swiper-slide a .clock{
	position: absolute;
	border: 1px solid #DADADA;
  	border-radius: 5px;
 	padding: 1px 3px;
  	top: 5px;
  	background: url(../img/index/clock.png) no-repeat;
  	  background-size: 14px;
 	 background-position: 4px 4px; 
  padding-left: 22px;
}
.activity .activityBox .swiper-slide a .clock .timerBox{
  letter-spacing: 0.5px;
}
.activity .activityBox .swiper-slide a .clock .timer{
color:#FF658D;
}
.activity .activityBox .swiper-slide a .icon img{
	width:100%;
	height:100%;
}
.activity .activityBox .swiper-slide a .desc{
	padding-top:33px;
}
.activity .activityBox .swiper-slide a .desc .name{
	height: 42px;
	overflow: hidden;
	color: #666;
}
.activity .activityBox .swiper-slide a .desc .price strong{
	color:#FE3265;
	letter-spacing: 0.5px;
	font-size:16px;
}
.activity .activityBox .swiper-slide a .desc .price strong.yuan{
	color:#06c1ae;
	font-size:12px;
}
.activity .activityBox .swiper-slide a .desc .price del{
	color:#06c1ae;
	  font-size: 12px;
  margin-left: 3px;
}

.recommend{
	height:229px;
	border-top: 1px solid #edebeb;
	border-bottom: 1px solid #edebeb;
	background-color: white;
	margin-bottom: 10px;
}
.recommend .recommendBox{
	border-bottom:1px solid #f1f1f1;
	overflow: hidden;
}
.recommend .recommendLeft{
	height:143px;
	width:50%;
	border-right:1px solid #f1f1f1;
	float:left;
	margin-left:-1px;
}
.recommend .recommendLeft img{
	width:100%;
	height:100%;
}
.recommend .recommendRight{
	float:left;
	width: 50%;
}
.recommend .recommendRight .recommendRightTop{
	height:66px;
	border-bottom:1px solid #f1f1f1;
}
.recommend .recommendRight .recommendRightTop img{
	width:100%;
	height:100%;
}
.recommend .recommendRight .recommendRightBottom{
	height:76px;
}
.recommend .recommendRight .recommendRightBottom img{
	width:100%;
	height:100%;
}
.recommend .nearBox{
	height:85px;
}
.recommend .nearBox li{
	float:left;
	width:33%;
	border-right:1px solid #f1f1f1;
	height: 85px;
}
.recommend .nearBox li:last-child{
	border-right:none;
}
.recommend .nearBox li .nearBoxDiv{
	padding-left: 8px;
  	height: 79px;
 	padding-top: 6px;
}
.recommend .nearBox li .title{
	font-size: 14px;
	font-weight: bold;
}
.recommend .nearBox li .desc{
	color:#c1c1c1;
	font-size:12px;
}
.recommend .nearBox li .merchant .title{
	color:#f75689;
}
.recommend .nearBox li .group .title{
	color:#f88a1a;
}
.recommend .nearBox li .store .title{
	color:#06c1ae;
}
.recommend .nearBox li .icon{
	height: 40px;
	background-repeat:no-repeat;
	background-size: 23px 24px;
	background-position: right center;
	margin-right: 15%;
}
.recommend .nearBox li .merchant .icon{
	background-image: url(../img/index/near_mechant.jpg);
}
.recommend .nearBox li .group .icon{
	background-image: url(../img/index/near_group.jpg);
}
.recommend .nearBox li .store .icon{
	background-image: url(../img/index/near_store.jpg);
}

.classify{
	height:104px;
	border-top: 1px solid #edebeb;
	border-bottom: 1px solid #edebeb;
	background-color: white;
	margin-bottom: 10px;
}
.classify .headBox{
	color:#06c1ae;
	height:20px;
	line-height: 20px;
	margin:10px;
	padding-left:6px;
	font-size:14px;
	border-left:3px solid #06c1ae;
}
.classify .classifyBox{
	overflow: hidden;
	height: 64px;
}
.classify .classifyBox .swiper-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 64px;
}
.classify .swiper-slide{
	width:22.3%;
	text-align: center;
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
    
    float:none;
}
.classify .swiper-slide a {
  	display: block;
  	padding-top: 6px;
  	width: 100%;
  	border-right: 1px solid #f1f1f1;
}
.classify .swiper-slide:last-child a{
	border-right: none;
}
.classify .swiper-slide .icon{
  display: block;
  margin: auto;
  width: 26px;
  height: 26px;
  text-align: center;
  color: white;
  margin-bottom: 3px;
}
.classify .swiper-slide .icon img {
  width: 100%;
  height: 100%;
}
.classify .swiper-slide .desc {
  text-align: center;
  color: #777;
  font-size:12px;
}

.youlike{
	border-top: 1px solid #edebeb;
	border-bottom: 1px solid #edebeb;
	background-color: white;
	/*margin-bottom: 10px;*/
}
.youlike .headBox{
	color:#666;
	height:38px;
	line-height: 38px;
	padding-left:8px;
	font-size:14px;
	border-bottom: 1px solid #edebeb;
	font-weight:bold;
}

.platformNews{
	border-top:1px solid #f1f1f1;
	padding:5px 10px;
}
.platformNews .left{
	float:left;
}
.platformNews .ico{
	margin-right:15px;
	width:42px;
	height:42px;
	background:url(../img/pigheadlines.png) no-repeat;
	background-size:100%;
}
.platformNews .list{
	padding-top:3px;
	border-left:1px solid #f1f1f1;
	padding-left:15px;
	font-size:12px;
	color:#999;
}
.platformNews .list li{
	height:18px;
	overflow:hidden;
}


header #backBtn {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    left: 0;
}
header #backBtn:after {
    display: block;
    content: "";
    border-top: 2px solid white;
    border-left: 2px solid white;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(315deg);
    background-color: transparent;
    position: absolute;
    top: 19px;
    left: 19px;
}