body{
    background-color: white;
}
.t_color{
    color: #ffa52d;
}
.w_color{
    color: white;
}
.r_color{
    color: red;
}
.g_line{
    margin-top: 10px;
    border-bottom: 1px solid #cccccc;
}
.b_line{
    margin-top: 10px;
    border-bottom: 1px solid #333333;
}
#main{
    margin-top: 60px;
    display: flex;
}
.order_list{
    width: 350px;
    max-width: 100%;
    background-color: #e8e5e5;
}
.list_top{
    margin-top: 10px;
    padding-left: 50px;
    line-height: 30px;
    cursor: pointer;
    color: #666666;
    background-image: url("../img/staff_menu/left_arrow.png");
    background-size:auto 90%;
    background-position: center left 10px;
    background-repeat: no-repeat;
}
.show_list{
    width: 80px;
    height: 48px;
    background-image: url("../img/staff_menu/show_list.png");
    background-size:100% auto;
    background-position: center;
    position: absolute;
    margin-left: -15px;
    margin-top: -10px;
}
.show_list,.order_list{
    transition-property: all;
    -moz-transition-property: all; /* Firefox 4 */
    -webkit-transition-property:all; /* Safari 和 Chrome */
    -o-transition-property:all;/* Opera */
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; /* Firefox 4 */
    -webkit-transition-duration: 0.5s; /* Safari 和 Chrome */
    -o-transition-duration: 0.5s; /* Opera */
}
#new_msg{
    width: 230px;
    text-align: center;
}
#new_msg a{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.list_ul{
    margin-top: 10px;
    overflow: auto;
}
.list_ul li{
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    padding:0 10%;
    box-sizing: border-box;
    cursor: pointer;
}
.list_ul li.act_li{
    background: white;
}
.list_ul .new_order{
    float: right;
    width: 80px;
    height: 40px;
    background: #ffa52d;
    border-radius: 5px;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 5px;
}
.list_ul .confirm_order{
    float: right;
    color: #008137;
}
#detail_div{
    overflow: auto;
}
.order_detail{
    padding: 20px 15px 0px 15px;
    flex: 1 1 100%;
    color: #666666;
    position: relative;
    box-sizing: border-box;
}
.detail_title{
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
}
.detail_note{
    border-radius: 3px;
    border: 2px solid #ffa52d;
    line-height: 35px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    padding:0 15px;
}
.order_item{
    margin-top: 10px;
    display: flex;
    line-height: 30px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.dish_line{
    font-weight: normal;
    margin-top: 0;
    line-height: 20px;
    color: #666666;
}
.item_num{
    padding:0 7px;
    box-sizing: border-box;
    width: 33px;
    display: inline-block;
}
.num_one{
    border: 2px solid #333333;
    border-radius: 5px;
}
.num_more{
    border: 2px solid #ffa52d;
    border-radius: 5px;
    background: #ffa52d;
    color: white;
}
.item_name{
    flex: 1 1 100%;
    margin-left: 5%;
}
.con_layer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    padding-top: 5px;
    box-sizing: border-box;
    display: none;
}
.confirm_txt{
    font-weight: bold;
    width: 80px;
    height: 30px;
    line-height: 15px;
    margin:5px 2% ;
    display: inline-block;
    text-align: center;
}
.confirm_time{
    width: 110px;
    height: 40px;
    margin-top: 0px;
    vertical-align: top;
    text-align: center;
}
.confirm_btn{
    width: 35%;
    height: 40px;
    background: #ffa52d;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
}
.order_total{
    margin-top: 10px;
    line-height: 25px;
    text-align: right;
    font-weight: bold;
    color: #777777;
    margin-bottom: 30px;
}
.order_print{
    float: right;
    padding:0 5px;
    background: #ffa52d;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.order_input{
    margin-top: 10px;
}
.input_title{
    font-weight: bold;
    color: #666666;
}
.order_input input{
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ffa52d;
    line-height: 25px;
    border-radius: 3px;
}
.bold_black{
    font-weight: bold;
    color: #666666;
}
.confirm_btn_order{
    width: 90%;
    text-align: center;
    color: white;
    background: #ffa52d;
    line-height: 35px;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;

}

#edit_btn{
    width: auto;
    float: right;
    line-height: 25px;
    background: #ffa52d;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
}
.cate_btn{
    background-image: url("../img/staff_menu/add_category.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size:auto 98%;
    padding-left: 20px;
}
.cate_list{
    border: 1px solid #ffa52d;
    border-radius: 5px;
    width: 49%;
    box-sizing: border-box;
    padding: 10px 45px 10px 5px;
    margin-top: 10px;
    min-height: 50px;
    position: relative;
    vertical-align: center;
    min-width: 400px;
    float: left;
    color: #666666;
}
.list_right{
    margin-right: 2%;
}
.cate_set{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../img/staff_menu/setting_cate.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size:30px auto;
    right: 10px;
    top: 16px;
}
.add_product{
    display: flex;
    margin-top: 20px;
}
.add_btn{
    width: 50%;
    text-align: center;
    color: white;
    background: #ffa52d;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.pro_btn{
    width: 15%;
    border: 1px solid #999999;
    border-radius: 5px;
    height: 35px;
    margin-left: 2%;
    text-align: center;
    cursor: pointer;
}
.act{
    border: 1px solid #ffa52d;
    color: #ffa52d;
}
.goods_list{
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    display: flex;
    margin-top: 10px;
}
.goods_name{
    width: 45%;
    padding-left: 8%;
}
.goods_price{
    width: 25%;
    text-align: center;
}
.goods_option{
    width: 20%;
}
.goodsList{
    display: flex;
    margin-top: 10px;
    border: 1px solid #ffa52d;
    border-radius: 5px;
    line-height: 30px;
    font-size: 16px;
    padding: 5px 0;
    background-size:15px auto;
    background-repeat: no-repeat;
    background-position:center left 1%;
}
.goods_btn{
    width: 10%;
    background-image: url("../img/staff_menu/or_arrow.png");
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-position:center right 10px;
}
.normal{
    background-image: url("../img/staff_menu/normal_item.png");
}
.stop{
    background-image: url("../img/staff_menu/stop_item.png");
}

.img_btn{
    width: 50%;
    line-height: 35px;
    background-image: url("../img/staff_menu/upload_bg.png");
    background-repeat: no-repeat;
    background-position: center left 10px;
    background-size:auto 80%;
    background-color: #ffa52d;
    color: white;
    padding-left: 50px;
    border-radius: 3px;
    font-weight: bold;
}

.edit_div{
    display: flex;
    margin-top: 20px;
}
.edit_div div{
    line-height: 35px;
    background-color: #CCCCCC;
    border-radius: 5px;
    text-align: center;
    color: #666666;
    font-weight: bold;
    cursor: pointer;
}
.edit_div .del_btn{
    width: 20%;
    background-image: url("../img/staff_menu/del_icon.png");
    background-repeat: no-repeat;
    background-position: center left 2%;
    background-size:auto 65%;
    padding-left: 5px;
}
.edit_div .status_btn{
    width: 70%;
    margin-left: 10%;
}
.edit_div .status_0{
    background-color: #59A422;
    color: white;
}

.option_div{
    display: flex;
    margin-top: 20px;
}
.option_div div{
    width: 45%;
    margin: 0 3%;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999999;
}
.option_div .act_op{
    border: 1px solid #ffa52d;
    color: #ffa52d;
}

.option_one{
    border: 1px solid #ffa52d;
    border-radius: 3px;
    margin-top: 15px;
    padding: 10px 5px 5px 5px;
    box-sizing: border-box;
}
.dish_edit{
    background-image: url("../img/staff_menu/edit_icon.png");
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size:auto 60%;
}
.op_name{
    font-size: 16px;
    font-weight: bold;
}
.op_desc{
    line-height: 30px;
    border-bottom: 1px dashed #999999;
}
.op_open{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.op_num{
    line-height: 30px;
    font-weight: bold;
}
.op_num .s_f{
    display: inline-block;
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url("../img/staff_menu/s_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 80%;
}
.op_val_list{
    display: none;
}
.op_val_list div{
    line-height: 18px;
}

.double_input{
    display: flex;
    margin-top: 10px;
}
.double_input .input_one{
    width: 45%;
}
.input_one input{
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ffa52d;
    line-height: 25px;
    border-radius: 3px;
}
.dish_val_del{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    background-image: url("../img/staff_menu/del_icon.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size:auto 65%;
}
.del_dish{
    width: 15%;
    text-align: center;
    color: white;
    background-color: #CCCCCC;
    line-height: 35px;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("../img/staff_menu/del_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto 65%;
}
.to_btn{
    width: 100%;
    line-height: 35px;
    border: 1px solid #ffa52d;
    border-radius: 5px;
    color: #ffa52d;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-image: url("../img/staff_menu/or_arrow.png");
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-position:center right 10px;
}
.order_h_list{
    width: 100%;
    font-size: 16px;
    margin: 5px auto;
    border-bottom: 1px solid #999999;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
}
.order_h_list span{
    display: inline-block;
    margin-left: 5px;
}
.status_btn{
    display: inline-block;
    float: right;
    line-height: 30px;
    padding:0 10px 0 35px;
    background-color: #ffa52d;
    color: white;
    border-radius: 3px;
    background-image: url("../img/staff_menu/resume.png");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position:center left 5px;
    cursor: pointer;
}
.to_close{
    background-image: url("../img/staff_menu/pause.png");
    background-color: #CCCCCC;
    color: #666666;
}
.edit_info{
    color: #ffa52d;
    font-size: 16px;
    font-weight: bold;
    width: 70px;
    line-height: 35px;
    float: right;
    cursor: pointer;
    background-image: url("../img/staff_menu/edit_icon.png");
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size:auto 60%;
}
.manage_time_title{
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid #ccc;
}
.top_10{
    margin-top: 10px;
}
.v_mode_title{
    font-size: 16px;
    display:flex;
    font-weight:bold;
    color: #333333;
}
.turn_btn{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #ffa52d;
    padding: 2px 2px;
    box-sizing: border-box;
    cursor: pointer;
}
.turn_btn span{
    display: inline-block;
    width: 50px;
    height: 26px;
    line-height: 26px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.turn_off{
    margin-left: 60px;
}
.reason_div{
    line-height: 30px;
}
#reason_input{
    border: none;
    border-bottom: 1px solid #999999;
}